
#title{
    background:rgb(200,155,10);
}

h2:hover{
    color:red;
}

/* .subtitle{
    color: blue;
} */

h2[class=subtitle]{
    color:rgb(244,100,0);
}

#services{
    color:green;
}

/* li:first-child{
    color:green;
}

li:last-child{
    color: brown;
}

li:nth-child(2){
    color:yellowgreen;
}

li:only-child{
    color:blueviolet;
} */

h2 + a{
    color:red;
}

textarea ~ button{
    color:purple;
}

ul > li{
    color:palevioletred;
}

ol > li{
    color:red;
}

img[src ^="../img/"]{
    border:10px solid red;
}
/* a:link{
    color: royalblue;
}

#link-id:visited{
    color: aqua;
} */